# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/src/generated/blog/2015/12_patterns_transition_agile.html
/src/generated/blog/2015/formes_leadership.html
/src/generated/blog/2015/java8_et_les_lambda_stream.html
/src/generated/blog/2016/communication_et_neuroscience.html
/src/generated/blog/2016/flexbox_layouts_faciles.html
/src/generated/blog/2016/headlesss_testing.html
/src/generated/blog/2016/ngeurope_angular2_unittest.html
/src/generated/blog/2016/ngeurope_angular_cli.html
/src/generated/blog/2016/ngeurope_keynote_misko_hevery.html
/src/generated/blog/2016/ngeurope_mobile_first_is_not_mobile_only.html
/src/generated/blog/2016/ngeurope_rendering_et_angular.html
/src/generated/blog/2016/ngeurope_rxjs_angular2.html
/src/generated/blog/2016/ngeurope_typescript_et_angular.html
/src/generated/blog/2016/pousser_message_slack_en_java.html
/src/generated/blog/2016/sorganiser_pour_la_complexite.html
/src/generated/blog/2016/springboot_devtools.html
/src/generated/blog/2016/springboot_http2.html
/src/generated/blog/2016/springboot_kotlin.html
/src/generated/blog/2017/creer_service_worker.html
/src/generated/blog/2017/dotcss.html
/src/generated/blog/2017/ecrire_ses_scripts_gradle_en_kotlin.html
/src/generated/blog/2017/highcharts_stackedarea.html
/src/generated/blog/2017/http.html
/src/generated/blog/2017/internet.html
/src/generated/blog/2017/nouveau_site_asciidoctor.html
/src/generated/blog/2017/service_worker.html
/src/generated/blog/2017/site_wassadou.html
/src/generated/blog/2017/test_services-rest-springboot.html
/src/generated/blog/2017/web.html
/src/generated/blog/2017/workboxjs.html
/src/generated/blog/2018/do_your_blog_yourself.html
/src/generated/blog/2018/installer_xps_ubuntu.html
/src/generated/blog/2018/junit5_and_springboot.html
/src/generated/blog/2018/mockserver.html
/src/generated/blog/2018/mongo_full_text_index.html
/src/generated/blog/2018/objectif_clever_cloud_js.html
/src/generated/blog/2018/premiere_conference_au_togo.html
/src/generated/blog/2018/publish_maven_central.html
/src/generated/blog/2018/secret_de_la_motivation.html
/src/generated/blog/2018/slide_avec_revealjs_asciidoctor.html
/src/generated/blog/2018/utiliser_api_envoi_email.html
/src/generated/blog/2019/application_android_score.html
/src/generated/blog/2019/application_web_typescript.html
/src/generated/blog/2019/comprendre_programation_android.html
/src/generated/blog/2019/kotlin_et_android.html
/src/generated/blog/2019/start_typescript_project_and_test_with_jest.html
/src/generated/blog/2021/assertj-extracting-koltin.html
/src/generated/blog/2021/java-memoire.html
/src/generated/blog/2022/spring_boot_starter_database_schema_initialization.html
/src/generated/metadata/blog.html
/src/generated/metadata/html.html
/src/generated/metadata/rss.html
/src/generated/metadata/sitemap.html
/src/generated/training/android/android-add-activity.html
/src/generated/training/android/android-add-activity-list.html
/src/generated/training/android/android-add-menu.html
/src/generated/training/android/android-call-remote-api.html
/src/generated/training/android/android-database-room-viewmodel.html
/src/generated/training/android/android-first-app.html
/src/generated/training/android/android-introduction.html
/src/generated/training/android/android-update-ui.html
/src/generated/training/cloud/deploy_webapp_on_clever_cloud.html
/src/generated/training/gradle/gradle.html
/src/generated/training/kotlin/kotlin-for-java-developer.html
/src/generated/training/outil/git.html
/src/generated/training/outil/install-development-environment.html
/src/generated/training/spring/spring-data.html
/src/generated/training/spring/spring-intro.html
/src/generated/training/spring/spring-ioc.html
/src/generated/training/spring/spring-security.html
/src/generated/training/spring/spring-web.html
/src/generated/training/unit-test/unit-test-in-java.html
/src/generated/training/web/http.html
/src/generated/training/web/internet.html
/src/generated/test.html
