<header>
  <div class="header-img">
    <a routerLink="/" aria-label="Accueil">
      <img src="img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind">
    </a>
  </div>
  <nav>
    <a routerLink="/" class="nav-home" aria-label="Accueil" [class.active]="current === 'home'">
      <img src="/img/ic_home_white_24px.svg" rel="start" alt="Accueil"></a>
    <a routerLink="/formations.html" aria-label="Formations" [class.active]="current === 'training'">
      Formations</a>
    <a routerLink="/blog.html" aria-label="Blog" [class.active]="current === 'blog'">Blog</a>
    <a routerLink="/experience.html" aria-label="Experience" [class.active]="current === 'experience'">
      Exp&eacute;rience</a>
  </nav>
  <hr>
</header>
<div class="header-space"></div>



