<div class="dm-block--intro">
  <div class="devmind-section">
    <h1>Training</h1>
    <div class="dm-grid--flexible" style="align-items: center">
      <div class="dm-grid--element">
        <div class="center">
          <picture alt="Espace étudiant">
            <source srcset="../img/experience/formation_600.webp" type="image/webp"/>
            <source srcset="../img/experience/formation_600.png"/>
            <img src="../img/experience/formation_600.png" alt="Training">
          </picture>
        </div>
      </div>
      <div class="dm-grid--element" style="flex: 3 0 0">
        <p class="dm_lead">
          Dev-Mind est enregistré sous le numéro 84 42 02955 42 en tant que prestataire de formation conformément
          aux dispositions de l'article R. 6351-6 du code du travail. Cet enregistrement ne vaut pas agrément de
          l'état.
        </p>
        <p class="dm_lead">
          Dev-Mind donne principalement des formations pour apprendre à utiliser le <a href="formation_spring.html">Framework
          Spring</a> en Java ou en Kotlin.
        </p>
        <p>
          You can also find freely accessible trainings about Git, Gradle, Spring, Android on this website.
          All lesson supports and labs remain the intellectual property of Dev-Mind. If you are missing anything, please
          tell me
        </p>
        <p>
          <a href="https://twitter.com/guillaumeehret" target="_blank" rel="noopener">
            <img src="../img/contact/twitter.svg" alt="Twitter" class="dm-social">
          </a>
          <a href="https://github.com/Dev-Mind" target="_blank" rel="noopener">
            <img src="../img/contact/github.svg" alt="Github" class="dm-social">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="dm-block--blog">
  <div class="devmind-section">
    <div>
      <p>
        The following lessons are given at the "Ecole des mines de Saint Etienne" to engineering students or students in
        computer science master. These lessons are free and you can follow them to learn how develop an Android app in
        Kotlin which call REST services exposed by a <a href="https://spring.io/">Spring</a> application developped in
        Java and deployed on <a href="https://www.clever-cloud.com/">Clever Cloud</a>.
      </p>

      <p>In each lesson, I first present the theory to you, but you have many exercises to implement and understand
        these different concepts through practice. Each exercise is identifiable by the <i class="fa fa-flask"></i> logo
        used in the title.</p>

      <div class="dm-grid--flexible">
        <div class="dm-grid--element"><img src="../img/training/environnement.png"></div>
        <div class="dm-grid--element" style="flex: 3 0 0">
          <p class="dm_lead"><b>Tools</b></p>
          <ul>
            <li><a routerLink="/install_development_environment.html">Install development environment</a> :
              install Java Developer Kit and an IDE to develop
            </li>
            <li><a routerLink="/git.html">Managing your sources with Git</a> : introduction to Git and Github
            </li>
            <li><a routerLink="/gradle.html">Gradle in practice</a> : how Gradle works and how use it in our
              projects
            </li>
            <li><a routerLink="/unit_test_in_java.html"> Write unit tests in Java</a> : understand tests,
              simulate collaborator behaviors and check results
            </li>
          </ul>
        </div>
      </div>
      <div class="dm-grid--flexible">
        <div class="dm-grid--element"><img src="../img/training/spring-intro.png"></div>
        <div class="dm-grid--element" style="flex: 3 0 0">
          <p class="dm_lead"><b>Spring framework</b></p>
          <ul>
            <li><a routerLink="/spring_intro.html">Spring introduction</a> : learn what is Spring and create a
              first app
            </li>
            <li><a routerLink="/spring_ioc.html">Spring and dependency injection</a> : in this lesson you will
              learn one of the main principle of software design, the dependency injection
            </li>
            <li><a routerLink="/spring_data.html">Spring database & JPA</a> : how use a database in your Spring
              project with Spring Data JPA and a H2 Database
            </li>
            <li><a routerLink="/spring_web.html">Spring rest services</a> : use Spring MVC to expose services
              to receive or update data
            </li>
            <li><a routerLink="/spring_security.html">Spring security</a> : Spring Security helps you to secure
              your app
            </li>
          </ul>
        </div>
      </div>

      <div class="dm-grid--flexible">
        <div class="dm-grid--element"><img src="../img/training/clever-cloud.png"></div>
        <div class="dm-grid--element" style="flex: 3 0 0">
          <p class="dm_lead"><b>Cloud</b></p>
          <ul>
            <li><a routerLink="/deploy_webapp_on_clever_cloud.html">Clever cloud</a> : learn how deploy a webapp
              on clever cloud
            </li>
          </ul>
        </div>
      </div>
      <div class="dm-grid--flexible">
        <div class="dm-grid--element"><img src="../img/training/learn-kotlin.png"></div>
        <div class="dm-grid--element" style="flex: 3 0 0">
          <p class="dm_lead"><b>Kotlin</b></p>
          <ul>
            <li><a routerLink="/kotlin_for_java_developer.html">Learn Kotlin</a> : introduction for Java
              developer
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dm-grid--flexible">
      <div class="dm-grid--element"><img src="../img/training/android/android-course1.png"></div>
      <div class="dm-grid--element" style="flex: 3 0 0">
        <p class="dm_lead" style="padding-top: 0;margin-top: 0"><b>Android</b></p>
        <ul>
          <li><a routerLink="/android_introduction.html">Android platform</a> : introduction
          </li>
          <li><a routerLink="/android_first_app.html">My first Android App</a> : how develop an Hello World
            app
          </li>
          <li><a routerLink="/android_update_ui.html">Update Android UI app</a>
            use Android Studio tools to update the main layout
          </li>
          <li><a routerLink="/android_add_activity.html">Add a new activity</a> : a new screen in your app
          </li>
          <li><a routerLink="/android_add_menu.html">How use a menu</a> : and launch intents to open internal
            or external activities
          </li>
          <li><a routerLink="/android_add_activity_list.html">An activity to list elements</a> : learn how
            write an adapter to diplay a list of data
          </li>
          <li><a routerLink="/android_call_remote_api.html">Call remote API</a> : use retrofit to call a
            remote REST API
          </li>
          <li><a routerLink="/android_database_room_viewmodel.html">Use the phone SQLite database</a> : use
            Room to store your data
            and the viewmodel object to decouplate the view from the model
          </li>
        </ul>
      </div>
    </div>


    <p class="btn-group"><a [routerLink]="['/', 'training', 'trainings.html']" class="btn-inverse">Free trainings</a></p>
  </div>
</div>
