@import "./common";
@import "./blog/blog";

footer {
  background-color: $color_dark;
}

.is-small-screen {
  display: none;
}

.is-large-screen {
  display: inherit;
}

@media screen and (max-width: $max_width_tablet) {
  .is-small-screen {
    display: inherit;
  }
  .is-large-screen {
    display: none;
  }
}

h1, h2 {
  font-weight: 100;
}

h1 {
  font-size: $h1_screen_fontsize;
  line-height: ($h1_screen_fontsize+3);
}

h2 {
  font-size: $h2_screen_fontsize;
  line-height: ($h2_screen_fontsize+3);
}

.small {
  font-size: small;
}

.dm_lead {
  font-weight: 300;
  font-size: $text_head_screen;
}

@media (max-width: $max_width_mobile) {
  h1 {
    font-size: $h1_mobile_fontsize;
    line-height: ($h1_mobile_fontsize+2);
  }
  h2 {
    font-size: $h2_mobile_fontsize;
    line-height: ($h2_mobile_fontsize+2);
  }
  .dm_lead {
    font-size: $text_head_mobile;
    line-height: ($text_head_mobile+2);
  }
}

label {
  display: block;
  font-weight: bold;
  padding-top: 1em;
}

input, select {
  width:100%;
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid $color_dark_txt;
}

.dm-grid--flexible {
  display: flex;
  @media (max-width: $max_width_mobile) {
    flex-direction: column;
  }

  .dm-grid--element {
    flex: 1;
    margin: 1em;
  }
  .dm-grid--element_first {
    flex: 1;
    margin: 1em 0;
  }
}

.dm-grid {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: $max_width_mobile) {
    flex-wrap: wrap;
  }

  .dm-grid--element {
    flex: 1;
    text-align: center;
  }
}

.dm_transition__image {
  padding: 0;
  margin: 0;
  position: absolute;
}

.dm_transition__image-template {
  visibility: hidden;
  display: none;
}

.center {
  text-align: center;
}

.dm_shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.dm_loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $color_primary; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dm-block--intro {
  @include dm_home_row(#424242, #ECEFF1);
  @include dm_home_link(#ECEFF1);

  .btn {
    @include dm-btn(transparent, #ECEFF1, white);
  }

  .btn:hover {
    @include dm-btn--hover(#ECEFF1, #424242, #ECEFF1);
  }

  .btn:disabled {
    @include dm-btn--hover(#ECEFF1, #424242, #ECEFF1);
  }

  h1 {
    color: #ECEFF1;
  }
}

.dm-block--blog {
  @include dm_home_row(#ECEFF1, #424242);
  @include dm_home_link(#424242);
}

.dm-blog--container-article{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $max_width_mobile) {
    display: block;
  }
  article {
    flex: 0 1 50%;

    @media (max-width: $max_width_tablet) {
      flex: 0 1 100%;
    }
    .dm-blog--article {
      margin-right: 1em;
      margin-bottom: 1em;
      padding: 0.5em;
      background-color: white;
      border-radius: 4px;
      @include dm_box__shadow;
      cursor: pointer;
      height: 98%;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      @media (max-width: $max_width_tablet) {
        margin-right: 0;
      }
    }


  }
}

.dm-block--news {
  @include dm_home_row(white, #424242);
  @include dm_home_link(#424242);

  .btn {
    background-color: #424242;
    border: 2px solid #424242;
    color: white;
    border-radius: 2px;
    padding: 1em;
    margin: auto;
    display: block;
    @include dm_box__shadow();

    a {
      color: white;
    }
  }
}

.btn-inverse {
  @include dm-btn(#424242, white, #424242);

  &:hover {
    @include dm-btn--hover(#585858, white, #424242);
  }
}

.btn-copy-code {
  @include dm-btn(white, #424242, white);
  padding: 4px;
  font-size: small;
  margin-right: 0.5em;
  margin-top: 1em;
  &:hover {
    @include dm-btn--hover(#424242, white, #424242);
  }
}

.btn-group {
  display: flex;
  text-align: center;
}

.btn-group--element {
  margin: auto;
  display: flex;
}

.dm--picture--center {
  width: 50%;
  margin: auto;

  @media (max-width: $max_width_mobile) {
    width: 95%;
  }
}

.dm--picture--inverse {
  margin: auto;

  @media (max-width: $max_width_mobile) {
    width: 50% !important;
  }
}

.dm-formation--detail {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  li {
    display: block;
    padding: 0;
  }
}

.dm-formation--step {
  margin-bottom: 1em;

  span {
    font-size: 30px;
    font-weight: bolder;
    border-radius: 30%;
    background-color: #424242;
    padding: 0.5em 0.8em;
    color: white;
  }
}
